# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
*.sqlite3

# Django migrations
**/migrations/
!*/migrations/__init__.py

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Python tooling
pip-log.txt
pip-delete-this-directory.txt
__pypackages__/

# Testing
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# PyCharm specific
*.iml
*.ipr
*.iws

# VSCode specific
*.code-workspace

# Env files
.env
.env.*
